
body { background-color:#f4f4f4;}
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    .box{ background-color:#fff; margin-bottom:30px; min-height:2em; overflow:hidden;}
    .box_headline { background-color:#5dadeb; padding: 8px; position: relative;}
    .box_headline h3{ color: #fff; }
    .box_content 
    { 
      padding: 0em; 
      background: white; 
      border-bottom: 1px solid #E5E5E5; 
      min-height: 20px; 
      overflow: hidden;
      padding-bottom: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 10px;
    }

    .box_new
    {
      padding-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }

    .buttonrow{ margin-top: 10px; }

header{ background-color: #f4f4f4; height: 50px; padding-top: 19px; width: 100%;}
  header h1{color:#155a8a;}

nav{margin-bottom: 30px; margin-left: 10px; margin-right: 10px;}
.navbar{background-color:#5dadeb;}
.navbar .brand{color: #fff}
.navbar-inner{background-color:#5dadeb; background-image: none; color:#FFF;}
  .navbar-inner .container .nav{
    margin-bottom: 0;
    margin-top: 3px;
  }
    .navbar-inner .container .nav li a{color:#fff;} 
    .navbar-inner .container .nav li a:hover{color:#5dadeb;} 

.gadget { margin-bottom:0px;}
.gadget h3 { margin:8px 0 0 0; padding:8px 0; font:bold 12px/1.5em Arial, Helvetica, sans-serif;}
.gadget h3 img.calendar { margin:-6px 4px -6px 0; border:none;}
.gadget .titlebar { margin-bottom:2px; border:1px solid #cfcfcf;}
.gadget .titlebar h3 { margin:0; padding:8px 32px 7px 16px; font:bold 12px/1.5em Arial, Helvetica, sans-serif; background:#aaa url(/assets/img/dropdown_bg.gif) repeat-x top; border:1px solid #fff;}
.gadget .titlebar a { margin:1px 1px 0 0; margin-left:10px; float:right;}
.gadget .titlebar a img, .gadget .error a img { border:none;}
.gadget .gadgetblock { padding:12px 16px; min-height:400px; background-color:#f4f4f4; overflow:hidden; border:1px solid #cfcfcf;}
.gadget .gadgetblock h4{ margin-bottom:1em;}

.delete{margin-left: 10px;}

.dataTables_length{float: left;}
.dataTables_length select{width: 80px; display: inline;}
.dataTables_filter{float: right;}
.dataTables_paginate{float: right;}
.dataTables_info{float: left;}
.paginate_disabled_previous{color:#ccc; text-decoration: none; margin-right: 10px;}
.paginate_disabled_next{color:#ccc; text-decoration: none;}
.paginate_enabled_previous{margin-right: 10px;}
.dataTables_filter label input {display: inline;}
.lessonOpen, .lessonClosed{padding-right: 10px; cursor: pointer;}

.problems
{
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 10px;
}

.options{ margin-bottom: 0px; margin-top: 20px;}
.option{margin-bottom: 20px;}

.loader{position:absolute; top: 13px; left: 61px;}
