body 
{
	background: #f7f7f7;
	margin: 0;
    padding: 0;
}

.wrapper
{

	position: relative;
}

.span12{}

.saveImage{position: absolute; }

.nav-languages{padding-top: 10px;}
.nav-languages li a{margin: 0; padding: 0;}
.banner 
	{ 
		background:url('/assets/img/rasmus_banner.jpg') repeat-x center; 
		border-bottom:4px solid #88ddff; 
		border-top:4px solid #88ddff; 
		height:243px; 
		width:100%;
		position: relative;
	}
	.banner h1{color:#fff; padding-top:50px; text-shadow: 0 0 2px #000; -webkit-text-shadow: 0 0 2px #000;}
		
	.bannerImage{position:absolute; z-index:4; bottom:0px; right:0;  }
	.bannerImage img{max-width:430px;}

	nav{background:#626262; border-bottom:4px solid #88ddff; }
	nav
		{
			background-color: #626262;
			height: 35px;
		
		}

		nav a{color: #FFF}
		.navbar .nav-profile{padding-top: 7px;}
		.navbar .nav-profile li a{color: #fff; }
		.navbar .nav-profile li:hover a{color: #ddd; }


	.iframe{width: 100%; border: 0; height: 500px;}
	footer{background: 50px; width: 100%; background:#626262 }


	.problems{
		background: #fff;
border: 1px solid #ddd;
padding: 28px;
margin-bottom: 20px;
border-radius: 4px;
	}

	.problems .options{border: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
background: #f8f8f8;
border-bottom: none;
padding-top: 3px;
}
	.problems .option{border-bottom: 1px solid #ddd; margin-bottom: 3px;}
	.problems .optionText{margin-left: 10px;}
	.problems .optionText p{margin: 0;}
	.problems .optionCounter{padding-left: 10px;}

@media (min-width: 1200px) {

	header
	{
		height: 60px;
		background-image: -webkit-linear-gradient(top, #48cafe, #44aed4);
		border-radius: 0;
		width: 100%;

	}

	.logo{width: 44px; margin-left: -20px;}
	.navbar .brand{margin:0; width: 119px; }
	.navbar .brand .headline{ padding-top: 11px; color:#FFF;}
	.navbar-inner{background-image: none; background-color: transparent; box-shadow: none;}
	.navbar .btn-navbar 
	{
		display: none;
		float: right;
		padding: 7px 10px;
		margin-right: -11px;
		margin-left: 5px;
		margin-top: 14px;
		background-color: #1d7193;
		background-image: -ms-linear-gradient(top, #1d7193, #222222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7193), to(#222222));
		background-image: -webkit-linear-gradient(top, #1d7193, #222222);
		background-image: -o-linear-gradient(top, #1d7193, #222222);
		background-image: linear-gradient(top, #1d7193, #222222);
		background-image: -moz-linear-gradient(top, #1d7193, #222222);
		background-repeat: repeat-x;
		border-color: #fff #fff #fff;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d7193', endColorstr='#222222', GradientType=0);
		filter: progid:dximagetransform.microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	}

	.nav-tabs .nav-list{margin-bottom: 13px;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
}
.nav-tabs .nav-list li a{padding-left: 13px;}


	.content{background:#fff; min-height: 500px; border:1px solid #ddd; border-top: none; padding: 30px;}
	.sidebar{border: 1px solid #ddd; border-bottom: none; padding-top: 30px; padding-bottom: 30px; height: 530px; border-left: none; border-top: none; background:transparent;}
}

@media( min-width: 979px) and (max-width: 1200px) {

	header
	{
		height: 60px;
		background-image: -webkit-linear-gradient(top, #48cafe, #44aed4);
		border-radius: 0;
		width: 100%;

	}

	.logo{width: 44px; margin-left: -20px;}
	.navbar .brand{margin:0; width: 119px; }
	.navbar .brand .headline{ padding-top: 11px; color:#FFF;}
	.navbar-inner{background-image: none; background-color: transparent; box-shadow: none;}
	.navbar .btn-navbar 
	{
		display: none;
		float: right;
		padding: 7px 10px;
		margin-right: -11px;
		margin-left: 5px;
		margin-top: 14px;
		background-color: #1d7193;
		background-image: -ms-linear-gradient(top, #1d7193, #222222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7193), to(#222222));
		background-image: -webkit-linear-gradient(top, #1d7193, #222222);
		background-image: -o-linear-gradient(top, #1d7193, #222222);
		background-image: linear-gradient(top, #1d7193, #222222);
		background-image: -moz-linear-gradient(top, #1d7193, #222222);
		background-repeat: repeat-x;
		border-color: #fff #fff #fff;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d7193', endColorstr='#222222', GradientType=0);
		filter: progid:dximagetransform.microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	}

	.content{background:#fff; height: 500px; border:1px solid #ddd; border-top: none; padding: 30px; padding-left: 15px; padding-right: 0px;}
	.sidebar{border: 1px solid #ddd; padding-top: 30px; height: 530px; border-left: none; border-top: none; background:transparent;}
	.input{width:180px;}
}

@media (min-width: 768px) and (max-width: 979px){

header{
		height: 60px;
		background-image: -webkit-linear-gradient(top, #48cafe, #44aed4);
		border-radius: 0;
		width: 100%;

	}
	.bannerImage img{max-width:390px;}
	.bannerImage{position:absolute; z-index:4; bottom:0px; right:100px;  }
		


	.logo{width: 44px; margin-left: -20px;}
	.navbar .brand{margin:0; width: 119px; }
	
	.navbar .brand .headline{ padding-top: 11px; color:#FFF;}
	.navbar-inner{background-image: none; background-color: transparent; box-shadow: none;}
	.navbar .btn-navbar 
	{
		display: none;
		float: right;
		padding: 7px 10px;
		margin-right: -11px;
		margin-left: 5px;
		margin-top: 14px;
		background-color: #1d7193;
		background-image: -ms-linear-gradient(top, #1d7193, #222222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7193), to(#222222));
		background-image: -webkit-linear-gradient(top, #1d7193, #222222);
		background-image: -o-linear-gradient(top, #1d7193, #222222);
		background-image: linear-gradient(top, #1d7193, #222222);
		background-image: -moz-linear-gradient(top, #1d7193, #222222);
		background-repeat: repeat-x;
		border-color: #fff #fff #fff;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d7193', endColorstr='#222222', GradientType=0);
		filter: progid:dximagetransform.microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	}

	.content{background:#fff; height: 500px; border:1px solid #ddd; border-top: none; padding: 30px; padding-left: 10px; padding-right: 10px;}
	.sidebar{border: 1px solid #ddd; padding-top: 30px; height: 530px; border-left: none; border-top: none; background:transparent;}
	.sidebar .input{width: 130px;}
}	

@media (max-width: 767px){

header{
		height: 60px;
		background-image: -webkit-linear-gradient(top, #48cafe, #44aed4);
		border-radius: 0;
		width: 100%;

	}
	.logo{width: 44px; margin-left: -20px;}
	/*.navbar .brand{ margin-left: 10px; margin-top: 20px; padding: 0; }*/
	.navbar .brand{margin:0; width: 119px; }
	.navbar .brand .headline{ padding-top: 11px; color:#FFF;}
	.navbar-inner{background-image: none; background-color: transparent; box-shadow: none;}
	.navbar .btn-navbar 
	{
		display: none;
		float: right;
		padding: 7px 10px;
		margin-right: -11px;
		margin-left: 5px;
		margin-top: 14px;
		background-color: #1d7193;
		background-image: -ms-linear-gradient(top, #1d7193, #222222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7193), to(#222222));
		background-image: -webkit-linear-gradient(top, #1d7193, #222222);
		background-image: -o-linear-gradient(top, #1d7193, #222222);
		background-image: linear-gradient(top, #1d7193, #222222);
		background-image: -moz-linear-gradient(top, #1d7193, #222222);
		background-repeat: repeat-x;
		border-color: #fff #fff #fff;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d7193', endColorstr='#222222', GradientType=0);
		filter: progid:dximagetransform.microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	}

	.collapse{ background:#e9ebec; width:100%; height: auto; }
	.login{ padding:10px; padding-top: 20px;  width:auto; margin: auto; border-bottom: 1px solid #ccc; background: #fff;  border: 1px solid #88ddff; border-top: 2px solid #88ddff; border-bottom: none; }
	.main{ padding:10px; margin-top: 0px; background:#fefefe; margin-bottom: 20px; border: 1px solid #88ddff; border-top: 2px solid #88ddff; border-bottom: 2px solid #88ddff; }
	.main p{font-size: 12px}
	.notification{ padding: 10px; background: #FFF; border: 1px solid #88ddff; border-top: none;}

	.content{background:#fff; height: 400px; border:1px solid #ddd; border-top: none;}
	.sidebar{border: 1px solid #ddd; height: 300px;  background:transparent;}

	.sidebar .input{width: 150px;}

}

@media (max-width: 480px) {
	header
	{
		height: 60px;
		background-image: -webkit-linear-gradient(top, #48cafe, #44aed4);
		border-radius: 0;
		width: 100%;
	}
	.logo{width: 44px; margin-left: -20px;}
	/*.navbar .brand{ margin-left: 10px; margin-top: 20px; padding: 0; }*/
	.navbar .brand{margin:0; width: 119px; }
	.navbar .brand .headline{ padding-top: 11px; color:#FFF;}
	.navbar-inner{background-image: none; background-color: transparent; box-shadow: none;}
	.navbar .btn-navbar 
	{
		display: none;
		float: right;
		padding: 7px 10px;
		margin-right: -11px;
		margin-left: 5px;
		margin-top: 14px;
		background-color: #1d7193;
		background-image: -ms-linear-gradient(top, #1d7193, #222222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1d7193), to(#222222));
		background-image: -webkit-linear-gradient(top, #1d7193, #222222);
		background-image: -o-linear-gradient(top, #1d7193, #222222);
		background-image: linear-gradient(top, #1d7193, #222222);
		background-image: -moz-linear-gradient(top, #1d7193, #222222);
		background-repeat: repeat-x;
		border-color: #fff #fff #fff;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1d7193', endColorstr='#222222', GradientType=0);
		filter: progid:dximagetransform.microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
	}

	.collapse{ background:#e9ebec; width:100%; height: auto; }
	.login{ padding:10px; width:auto; margin: auto; border-bottom: 1px solid #ccc; background: #fff;  border: 1px solid #88ddff; border-top: 2px solid #88ddff; border-bottom: none; }
	.main{ padding:10px; margin-top: 0px; background:#fefefe; margin-bottom: 20px; border: 1px solid #88ddff; border-top: 2px solid #88ddff; border-bottom: 2px solid #88ddff; }
	.main p{font-size: 12px}
	.notification{ padding: 10px; background: #FFF; border: 1px solid #88ddff; border-top: none;}

	.content{background:#fff; height: 500px; border:1px solid #ddd; border-top: none;}
	.sidebar{border: 1px solid #ddd; height: 500px;   background:transparent;}
}